html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo {
  width: 14rem;
  grid-column: 1 / -1;
  grid-row: 4;
  z-index: 1;
  margin: 0;
}

nav {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 1;
}

ul {
  display: flex;
  align-content: center;
  list-style: none;
  justify-content: space-around;
  padding: 1rem;
  font-family: "Patua One", sans-serif;
}

a {
  color: #fff;
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  grid-template-areas: "box1 box2";
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin-bottom: 0;
}

p {
  margin: 0;
}

figure:nth-child(1) {
  margin: 0;
  grid-area: box1;
}

figure:nth-child(2) {
  margin: 0;
  grid-area: box2;
}
